.tabs ul {
    flex-direction: column;

    li {
      width: 100%;
    }
  }


.dossier-card{
  display: inline-block;
  vertical-align: top;
  max-width: 350px;
  margin: 0.5rem;
} 

// .mstr-card{
//   @extend .card;



//   margin: 0.5em;
//   max-width: 250px;
// }


